@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.nav-bar {
    position: fixed;
    text-align: right;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(18, 18, 18), rgb(0, 0, 0));
    color: white;
    padding-top: 8px;
    padding-bottom: 6px;
    z-index: 1;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    list-style: none;
    padding: 1rem 1rem 1.2rem 1rem;
    margin-right: 18px;
}   
.nav-links-last {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .7em;
    list-style: none;
    padding: 5px 20px 10px 10px;
    margin-right: 18px;
}   

.nav-bar > .active {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(219, 84, 31);
    border-bottom: 2px solid white;    
}

.nav_logo {
    width: 80px;
    float: left;
    padding-left: 20px;
}



/*------------------------MEDIA QUERIES---------------------------*/



/*-----------SMALL MOBILE------------*/
@media screen and (max-width: 479.5px) and (min-width: 319px){ 
    .nav-bar {
        position: fixed;
    }
    .nav-links {
        display: none;
        width: 100vw;
    }
    .nav_logo {
        width:80px;
        float: left;
        padding: 0 12px;
    }
    
}