@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,900&display=swap');

.main_section {    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 100vh;
    width: 100vw;
}
.main_section_background {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;  
}
.main_section_content_container {
    margin: 0 auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    /* height: 80vh; */
    /* max-width: 1200px; */
    width: 80vw;
}
.main_headline {
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
    margin: .25em 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
}
.main_headline_2 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: .9em;
    margin: .25em 0;
}
.main_copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(255,255,255);
    /* letter-spacing: .08rem; */
    margin: 1.5em 0 0;
}
.main_button {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 800;
    /* background-color: rgb(76, 210, 219); */
    background-image: linear-gradient(#df9713, #332819);
    border-radius: 25px;
    border: 2px rgb(0,0,0) solid;
    color: rgb(255,255,255);
    transition: all 0.3s;
    margin: 1em 0;
    line-height: 3;
    text-decoration: none;
    text-align: center;
    width: 14em;
    
}
.main_button:hover {
    background:rgb(255,255,255);
    color: rgb(0,0,0); 
    cursor: pointer;
}