@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.pg_section {    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,1);
}
.pg_section_background {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;  
}
.pg_section_content_container {
    margin: 0 auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    /* height: 80vh; */
    /* max-width: 1200px; */
    width: 80vw;
}
.pg_headline {
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
}