@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Playfair+Display:ital,wght@0,400;0,700;1,700&display=swap');


/* ------- TOP HEADER SECTION --------------------------------- */
.pg_section {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    background-color: rgb(0,0,0);
    width: 100vw;
}
.pg_header {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 84px;
    color: rgb(255,255,255);
    letter-spacing: .2em;
    line-height: 1em;
    word-spacing: .5em;
    margin: 0 auto;
    padding: .5em;
    position: relative;
}
.pg_secondline {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(255,255,255);
    letter-spacing: 1.4px;
    line-height: .7em;
    word-spacing: .25em;
    margin: 0 auto;
    padding: .25em;
}
.pg_button {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 400;
    background-image: linear-gradient(#13c1df, #0f3381);
    border-radius: 1em;
    border: 1px rgb(0,0,0) solid;
    color: rgb(255,255,255);
    transition: all 0.3s;
    margin: 1em 0 2em;
    line-height: 3;
    text-decoration: none;
    text-align: center;
    width: 14em;  
}
.pg_body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(255,255,255);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    background-color: rgb(0,0,0);
    width: 100vw;
    margin: .5em .5em 0;
    padding: 1.5em .5em 0;
}

/*------------------ PHOTOGALLERY GRID CODE -------------------------*/
/* -------------- DESKTOP PHOTO GALLERY GRID CODE - (Min Width 1500px)------------------------------------- */
.pg_grid_container {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* 4 column spaces and we'll see 1 fraction "visual columns" per column space */
    grid-auto-rows: 300px 400px; /* each row will alternate with these sizes */
    grid-column-gap: 12px;
    grid-row-gap: 12px; 
    justify-items: stretch;
    align-items: stretch;
    margin: 10%;
}
.pg_grid_box {
    width: 100%;
    height: 100%;
    /* overflow:hidden hides parts of images that cross over another */
    overflow: hidden;
    position: relative;
}
.pg_grid_image {
    width: 100%;
    height: 100%;
    /* object-fit:cover makes image auto size itself and fills in space */
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.pg_grid_image:hover {
    /* makes images pop bigger */
    transform:scale(1.25);
    transition: .2s ease-in-out;
}

/* ----------- GALLERY GRID SPANNING CONTROLS ---- DEFAULT DESKTOP SCREENS --------- */
.p-1 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-2 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-3 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-4 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-5 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-6 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-7 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-8 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-9 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-10 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-11 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-12 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-13 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-14 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-15 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-16 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-17 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-18 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-19 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-20 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-21 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-22 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-23 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-24 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-25 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-26 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-27 {
    grid-column: span 1; 
    grid-row: span 1;
}
.p-28 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-29 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-30 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-31 {
    grid-column: span 1;
    grid-row: span 1;
}
.p-32 {
    grid-column: span 1;
    grid-row: span 1;
}
/*------------- PHOTOGALLERY CODE ENDS HERE ------------------*/